<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="utf-8">
    <meta name="csrf-token" content="<%= csrfToken %>">
    <title><%= subject.name %></title>
    <link rel="icon" type="image/png" href="/favicon/study_icon.png">
    <link rel="stylesheet" href="/assets/style.css">
    <script defer src="/assets/theme.js"></script>
    <script defer src="/assets/pomodoro.js"></script>
    <script src="/assets/singlesubject.js" defer></script>
</head>
<body>
<header>
    <nav>
        <a href="google.com">Notenübersicht</a>
        <a href="/todo">Lernplan</a>
        <a href="subjects">Zurück zur Übersicht </a>
        <a href="/auth/login">Abmelden</a>

        <label class="theme-toggle">
            <input type="checkbox" id="toggle">
            <span class="slider round">
                <div class="background"></div>
                <div class="star"></div>
                <div class="star"></div>
            </span>
        </label>

    </nav>
</header>
<main>
    <div class="top-banner">
        <h1 id="name"><%= subject.name %></h1>

        <button id="saveSubjectBtn">Speichern</button>
        <!-- Lösch-Formular -->
        <form
            action="/subjects/delete"
            method="POST"
            onsubmit="return confirm('Willst du dieses Fach wirklich löschen?');">

            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <input type="hidden" name="id" value="<%= subject.id %>">
            <button type="submit" class="delete-btn">Fach löschen</button>
        </form>
    </div>

    <div class="content">

        <!--Linker Teil für die Notizen und co-->
        <div class="noteblock">
            <div class="subject" id="note-container">
                <h2>Notizen</h2>
                <textarea placeholder="Notizen..." id="note-textarea"><%= subject.note %></textarea>
            </div>
        </div>

        <!--Rechter Teil für Prüfungsdatum, Timer und Todos-->
        <div class="sidebar">

            <div id="pruefungs-container" class="subject">
                <div class="line">
                    <h2 class="left">Prüfungsdatum:</h2>
                    <input class="right lineElement"
                        type="date"
                        id="examDate"
                        value="<%=subject.examDate || ''%>"
                        placeholder="-----">
                </div>
                <div class="line">
                    <h2 class="left">Note:</h2>
                    <input class="right lineElement"
                        id="grade"
                        value="<%=subject.grade || ''%>"
                        placeholder="-----">
                </div>
            </div>
            
            <div id="pomodoro-container" class="subject">
                <h2>Pomodoro:</h2>
                <div class="pomodoro">
                    <div class="time" id="pomo-time">25:00</div>
                    <div class="controls">
                        <button id="start">Start</button>
                        <button id="pause">Pause</button>
                        <button id="reset">Reset</button>
                    </div>
                </div>
            </div>

            <div id="todoPopup">
                <label>
                    Aufgabe:
                    <input type="text" id="todoName">
                </label><br><br>
                <label>
                    Priorität:
                    <select id="todoPriority">
                    <option value="niedrig">Niedrig</option>
                    <option value="mittel">Mittel</option>
                    <option value="hoch">Hoch</option>
                    </select>
                </label><br><br>
                <label>
                    Fälligkeitsdatum:
                    <input type="date" id="todoDueDate">
                </label><br><br>
                <div class="line">
                    <button onclick="submitTodo()">Hinzufügen</button>
                    <button onclick="closePopup()">Abbrechen</button>
                </div>
            </div>

            <div id="todos-container" class="subject">
                <div id="todo-headline">
                    <h2>Todos:</h2>
                    <button id="addTodo">Neues Todo</button>
                </div>
                <% subject.todos.forEach(todo => {
                    let color = "black";

                    if (todo.prio === "low") color = "green";
                    if (todo.prio === "medium") color = "orange";
                    if (todo.prio === "high") color = "red";
                %>

                    <div class="singletodo">
                        <input type="checkbox"<%= todo.done === "true" ? "checked" : "" %>>
                        <div class="todo-text"
                            data-id="<%= todo.id %>"
                            data-done="<%= todo.done %>"
                            data-prio="<%= todo.prio %>"
                            data-dueDate="<%= todo.dueDate %>">
                            
                            <%= todo.text %>
                        </div>

                        <div class="dueDate">
                            Fällig: <%= todo.dueDate %>
                        </div>
                    </div>

                <% }) %>
            </div>
        </div>
    </div>
</main>


<footer>
</footer>
</body>
</html>